<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
</head>
<body>
    <h1>Dados pessoais:</h1>
    <p>Nome: {{ dadosFormulario.nome }}</p>
    <p>Cpf: {{ dadosFormulario.cpf }}</p>
    <p>Data de nascimento: {{ dadosFormulario.data_nascimento }}</p>
    <p>Endereco: {{ dadosFormulario.endereco }}</p>
    <p>UF: {{ dadosFormulario.uf }}</p>
    <p>CEP: {{ dadosFormulario.cep }}</p>
    <p>Email: {{ dadosFormulario.email }}</p>
    <p>Telefone: {{ dadosFormulario.telefone }}</p>

    <h1>Dados da consulta:</h1>
    <p>Especialidade medica: {{ dadosFormulario.especialidade }}</p>
    <p>Data da consulta: {{ dadosFormulario.data_consulta }}</p>
    <p>Hora da consulta: {{ dadosFormulario.hora_consulta }}</p>
    <p>Medicamentos alergicos: {{ dadosFormulario.alergias }}</p>
    <p>Informacoes adicionais: {{ dadosFormulario.informacoes_adicionais }}</p>
</body>
</html>