<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="styleLogin.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <form action="/autenticar" method="post">
        <h1>Login</h1>

        <div class="input-box">
          <input type="text" placeholder="Email" id="email" name="email" required />
          <i class="bx bxs-user"></i>
        </div>

        <div class="input-box">
          <input type="password" placeholder="Senha" id="senha" name="senha" required />
          <i class="bx bxs-lock-alt"></i>
        </div>

        <button type="submit" class="btn">Login</button>

        <div class="register-link">
          <p>Ainda não tem cadastro? <a href="/cadastro">Cadastre-se</a></p>
        </div>

        {{#erro_autenticacao}}
        <div class="alert alert-danger">Erro ao autenticar usuário!</div>
        {{/erro_autenticacao}}

      </form>
    </div>
  </body>
</html>
